apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    app: oci-domeneshop-le
  name: oci-domeneshop-le
  namespace: default
spec:
  concurrencyPolicy: Replace
  jobTemplate:
    metadata:
      labels:
        app: oci-domeneshop-le
      name: oci-domeneshop-le
      namespace: default
    spec:
      template:
        metadata:
          creationTimestamp: null
          labels:
            app: oci-domeneshop-le
          name: oci-domeneshop-le
          namespace: default
        spec:
          containers:
          - env:
            - name: OCI_CLI_CONFIG_FILE
              value: /var/run/secrets/ibidem.no/oci-sa/config
            image: "{{ environ('main_image') }}:{{ environ('VERSION') }}"
            imagePullPolicy: IfNotPresent
            name: oci-domeneshop-le
            volumeMounts:
            - mountPath: /var/run/secrets/ibidem.no/oci-sa
              name: oci-sa-domeneshop
              readOnly: true
            - mountPath: /tmp
              name: writable-tmp
          dnsPolicy: ClusterFirst
          restartPolicy: Never
          volumes:
          - name: oci-sa-domeneshop
            secret:
              defaultMode: 400
              secretName: oci-sa-domeneshop
          - emptyDir: {}
            name: writable-tmp
  schedule: 13 12 * * *
